# Git
.git
.gitignore

# Rust
target/
!target/release/
target/release/*
!target/release/apas-server
**/*.rs.bk

# Node
node_modules/
packages/web/.next/
!packages/web/.next/standalone/
!packages/web/.next/standalone/**
!packages/web/.next/static/
!packages/web/.next/static/**
packages/web/out/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local data
data/
*.db

# Docs
*.md
!README.md
